<div id="rate-form" class="css-166tz6a" style="display: none;">
    <div id="spinner" class="spinner" role="progressbar" style="position: absolute; width: 0px; z-index: 999; left: 50%; top: 50%;">
        <img width="50px" height="50px" src="/assets/libs/track-and-trace/loading.gif" />
    </div>
    <div id="rate-info" class="css-1x7v7yu" width="800">
        <img alt="close-typeform" (click)="closeTypeform()" src="data:image/gif;base64,R0lGODlhEQARAIAAAODn7P///yH5BAEHAAEALAAAAAARABEAAAIqBIKpab3v3EMyVHWtWZluf0za0XFNKDJfCq5i5JpomdUxqKLQVmInqyoAADs=" class="css-z587cd e1o3ysfi8">
        <iframe id="iframe" src="" allow="camera; microphone; autoplay; encrypted-media;" data-qa="iframe" frameborder="0" height="100%" title="typeform-embed" width="100%" style="border: 0px;"></iframe>
    </div>
</div>
 